doc/联通透视数据上报/集团/集团/103/DRS103_IN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="fileinfo">
		<xs:sequence>
			<xs:element name="filename" type="xs:string"/>
			<xs:element name="filesize" type="xs:float"/>
			<xs:element name="fileextension" type="xs:string"/>
			<xs:element name="filegeneratetime" type="xs:string"/>
			<xs:element name="fileaddr" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fileinfols">
		<xs:sequence>
			<xs:element name="fileinfo" type="fileinfo" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="service_instance">
		<xs:sequence>
			<xs:element name="service_id" type="xs:string"/>
			<xs:element name="version" type="xs:string"/>
			<xs:element name="service_name" type="xs:string"/>
			<xs:element name="service_desc" type="xs:string"/>
			<xs:element name="service_content" type="service_content"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DRS103service_content">
		<xs:sequence>
			<xs:element name="notifyid" type="xs:string"/>
			<xs:element name="requestid" type="xs:string"/>
			<xs:element name="sercaller" type="xs:string"/>
			<xs:element name="domaintype" type="xs:string"/>
			<xs:element name="filetype" type="xs:string"/>
			<xs:element name="reportbeginTime" type="xs:string"/>
			<xs:element name="readyfilenum" type="xs:string"/>
			<xs:element name="fileinfolist" type="fileinfols"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="service_content">
		<xs:sequence>
			<xs:element name="DRS103service_content" type="DRS103service_content"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="rnop_service_input_para">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="service_instance" type="service_instance"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
