doc/联通透视数据上报/集团/集团/101/DRS101_IN.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="objectList">
		<xs:sequence>
			<xs:element name="objectID" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="filter">
		<xs:sequence>
			<xs:element name="objectLevel" type="xs:string"/>
			<xs:element name="objectList" type="objectList"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="service_instance">
		<xs:sequence>
			<xs:element name="service_id" type="xs:string"/>
			<xs:element name="version" type="xs:string"/>
			<xs:element name="service_name" type="xs:string"/>
			<xs:element name="service_desc" type="xs:string"/>
			<xs:element name="service_content" type="service_content"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DRS101service_content">
		<xs:sequence>
			<xs:element name="serCaller" type="xs:string"/>
			<xs:element name="domainType" type="xs:string"/>
			<xs:element name="fileType" type="xs:string"/>
			<xs:element name="reportInterva" type="xs:string"/>
			<xs:element name="startTime" type="xs:string"/>
			<xs:element name="endTime" type="xs:string"/>
			<xs:element name="filter" type="filter" maxOccurs="unbounded"/>
			<xs:element name="ftpAddr" type="xs:string"/>
			<xs:element name="ftpname" type="xs:string"/>
			<xs:element name="password" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="service_content">
		<xs:sequence>
			<xs:element name="DRS101service_content" type="DRS101service_content"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="rnop_service_input_para">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="service_instance" type="service_instance"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
