doc/联通透视数据上报/集团/集团/105/DRS105_NORMAL_OUT.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="service_instance">
		<xs:sequence>
			<xs:element name="service_id" type="xs:string"/>
			<xs:element name="version" type="xs:string"/>
			<xs:element name="service_name" type="xs:string"/>
			<xs:element name="service_desc" type="xs:string"/>
			<xs:element name="service_content" type="service_content"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="service_content">
		<xs:sequence>
			<xs:element name="resultnotify" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="rnop_service_output_para">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="service_instance" type="service_instance"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
